/* Andrea Eibergen */
/* 26 October 2017 */
/* 572 Portfolio */

/* Text Starts Here */

h1 {
	font-family: 'Fjalla One', sans-serif;
}

h2 {
	font-family: 'Cantarell', sans-serif;
	text-transform: uppercase;
}

h3 {
	font-family: 'Cantarell', sans-serif;
}

h3.resume {
	font-family: 'Cantarell', sans-serif;
	text-transform: uppercase;
}


h4 {
	font-family: 'Cantarell', sans-serif;
}

p {
	font-family: 'Cantarell', sans-serif;
}

ul.nav {
	font-family: 'Cantarell', sans-serif;
	color: black;
}

.intro {
	text-transform: uppercase;
}

.italics {
	font-style: italic;
}

a {
	color: black;
}

/*footer starts here*/
main, nav, section {
    display: block;
}

.page-footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 60px;
    background-color: #f5f5f5;
}
/* Other Starts here */

/*body { 
    background: url(/img/concrete_seamless.png) repeat 0 0;
}*/

/*.hovereffect:hover {
	opacity: .5;
}*/

/*.image_description:hover {
    padding: 10px;
    transition: .2s;
    transform: translateY(1em);
}*/

.img {
	max-width: 100%;
	margin-left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	margin-bottom: 0px;
}


.row {
	flex-flow: row-wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
	margin: 0;
}

div.embeddedframe, iframe {
	width: 99%;
	height: 99vh;
	background-color: white;
	display: block;
	margin: auto;
}

.aboutme {
	width: 100%;
	height: auto;
}

/*.large {
	margin: 0 20px 0 20px;
}*/

/*all that hover trash*/

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
  border-radius: 4px;
}

.thumbnail:hover .overlay {
  opacity: .85;
}

.text {
  	color: #2b3f21;
  	font-size: 20px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	font-family: 'Cantarell', sans-serif;
	text-transform: uppercase;
  	text-align: center;
}